<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j='http://jakarta.apache.org/log4j/'>

    <!-- Appender console -->
    <appender name="consoleAppender" class="org.apache.log4j.ConsoleAppender">
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d %p [%c] - %m%n" />
        </layout>
    </appender>
    
    
    <!-- Rotation tous les jours -->
    <appender name="fileAppenderEsup-activ-bo" class="org.apache.log4j.DailyRollingFileAppender">
        <param name="File" value="esup-activ-bo.log" />
            <!-- a parametrer -->
        <param name="DatePattern" value="'.'yyyy-MM" />
        <layout class="org.apache.log4j.PatternLayout">
        <param name="ConversionPattern" value="%X{Client-IP} %d %p [%c] - %m%n" />
        </layout>
    </appender>
    
    <!-- Appender file: les messages de type info de la classe  org.esupportail.activbo.domain.LdapImpl seront envoyes dans le fichier esup-activ-bo-modifiedDataFile.log -->
    <!-- Rotation tous les jours -->
    <appender name="fileAppenderModifiedData" class="org.apache.log4j.DailyRollingFileAppender" >
        <param name="file" value="esup-activ-bo-modifiedDataFile.log"/>
        <param name="DatePattern" value="'.'yyyy-MM" />
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%X{Client-IP} %d %p [%c] - %m%n" />
        </layout>
        <filter class="org.apache.log4j.varia.LevelMatchFilter">
            <param name="levelToMatch" value="INFO" />
        </filter>
        <filter class="org.apache.log4j.varia.DenyAllFilter"/>
    </appender>
    <!-- Les messages de niveau "debug" et + des classes org.esupportail.activbo.domain.LdapImpl&org.esupportail.activbo.domain.KerbLdapImpl seront egalement afficher a la console  -->
    <logger name="org.esupportail.activbo.domain.LdapImpl">
        <level value="DEBUG" />     
        <appender-ref ref="fileAppenderModifiedData" />
    </logger>
    <logger name="org.esupportail.activbo.domain.KerbLdapImpl">
        <level value="DEBUG" />     
        <appender-ref ref="fileAppenderModifiedData" />
    </logger>
    
        
    <logger name="org.esupportail.activbo" additivity="false">
        <level value="INFO" />      
        <appender-ref ref="fileAppenderEsup-activ-bo" />
        <appender-ref ref="consoleAppender" />
    </logger>

    <root>
        <level value="INFO" />  
        <appender-ref ref="consoleAppender" />
        <appender-ref ref="fileAppenderEsup-activ-bo" />
    </root>
</log4j:configuration>
